.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 120px;
	cursor: pointer;
}

.cardText {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
